<!DOCTYPE  html>  
<html>
<head>
       <title>Blog </title>
      <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
      <link rel="icon" href="/static/img/favicon.ico" type="image/x-ico"/>
      <style type="type/css">
      
     </style>
<meta>
</head>
<body>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#"><i class="icon-home"></i>Home</a>
  </li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
</ul>
     <div class="container-fluid"  style="height:630px;">
     <div class="row-fluid">
     
     <div class="span2" style="width:800px;">
     
     </div>
      <div id="content"  class="span10" > 
    
      {% block content %}
    
      {% endblock %}
      </div>
      </div>
      </div>
</body>
</html>

